$redColor: #c32b20;
$fontFamily : "Georgia";
$text : #333333;
$lightgrey : #f2f2f2;
$darkgrey : #646464;
$grey : #f2f2f2;
$text-uppercase: uppercase;
.p-1{
    padding: 5px;
}
body{
    font-family: $fontFamily;
    background-color: #fff;
    color: #878787;
    font-size: 14px;
}
a{
    color: $redColor;
    display: block;
    margin-left: auto ;
    text-align: right;
    text-transform: capitalize;
}
.systemetic_nav{
    background-color: $redColor;
    #navbarTogglerDemo02{
        margin: 0 auto;
        li.nav-item {
            height: 26px;
            :after{
                content:'|';
                margin-left:5px;
                }
            a.nav-link {
                color: #fff !important;
            }
        }
        li.nav-item:last-child{
            &:after{ 
                content:' ';
                margin-left:0;
            }
        }
        .searchbox{
            input{
                border-radius: 50px;
                width: 250px;
            }
            a{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                font-size: 13px;
                color: #fff;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $redColor;
                position: absolute;
                right: 22px;
                text-decoration: none; 
            }
            
       
        }
    }
}
.header{
    color: $text;
    padding: 30px;
    
    .icon{
        display: flex;
        align-items: center;
        height: 96px;
        a{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 13px;
            color: #fff;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $text;
            &:hover{
                background-color: #ee802f;
                text-decoration: none;
            }
        }
    }
}
.top_navigation {
    background-color: #000;
    border-radius: 5px;
    .navbar-nav {
        .nav-item.active{
            color: $redColor;
            
        }
        .nav-item{
            .nav-link {
                color: #fff;
                text-transform: $text-uppercase;
                margin: 0 10px;
                &:hover{
                    color: $redColor
                }
            }
        }
    }
} 
.intro{
    padding-top: 20px;
        &__image {
            width: 400px;
            height: 440px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 22px;
                color: #fff;
            }
        }
        &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 440px;
        h1{
            font-size: 86px;
            color: $text;
            text-transform: $text-uppercase;
        }
        a{
            text-transform: $text-uppercase;
        }
    }
}
.Content{
    background-color: $lightgrey;
    padding: 30px;
    h3{
        color: $text;
        font-size: 26px;
        margin: 30px 0;
    }
    h6{
        color: $text;
    }
    h5{
        color: #989898;
        text-transform: capitalize;
    }
    
    .about{
        &__image{
            background-color: $lightgrey;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 13px;
            border: 1px solid #d4d4d4;
            height: 174px;
            p {
                font-size: 22px;
                color: #fff;
            }
            &-box{
                width: 340px;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .services{
        .row{
            margin-bottom: 11px;
        
            &__image{
                width: 64px;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }
    .feedback{   
        &__tanker{   
            i.fa-quote-left{
                font-size: 43px;
                margin-right: 10px;
                color: #d4d4d4; 
            }
            
        }
    }
}
.footer{
    $color:#666;
    padding: 40px;
    hr{
        height: 8px;
    } 
    h4{
        font-size:1.4rem;
        text-transform: $text-uppercase;
        color: $color;
        margin-bottom: 20px;
    }
    &__tweets{
        .tweets-hgl{
            color: $redColor;
        }
    }
    &__links{
        ul {
            padding-left: 0px;
            li {
                list-style-type: none;
                border-bottom: 1px solid #ddd;
                padding: 5px 0;
                i.fas.fa-angle-double-right {
                    margin-right: 10px;
                }
                span{
                    margin: 10px 0;
                }
            }
        }
    } 
    &__post{
        .post-address {
            margin-bottom: 10px;
            address{
                margin-bottom: 0.5rem;
                sup{
                    font-size: 85%;
                    .post-name{
                        color: $redColor;
                    }
                }
            }
        }
    }
    &__contact{
        .form-control{
            color: #adb5bd;
            background-color: #e9ecef;
            border: 1px solid #e9ecef;
        }
        .btn-default{
            background-color: #e9ecef;
            color: $redColor;
            padding: 10px 20px;
            text-transform: $text-uppercase;
        }
    }
}

.copyright{
    background-color: $grey;
    color: #919191;
    display: flex;
    align-items: center;
    min-height: 55px;
    p{
        margin-bottom: 0;
    }
}